In [3]:
# 1: Suppose you are a teacher, and you want to analyze the exam scores of your
# students in a particular subject. You have recorded the scores of your students
# for a recent exam, and you want to represent this data using a Pandas Series.

import pandas as pd 

students = ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Hannah', 'Ivy', 'Jack']
exam_scores = [92, 88, 76, 94, 82, 90, 85, 89, 78, 91]

series = pd.Series(exam_scores , index = students , name = "Exam Scores")
print(series)

Alice      92
Bob        88
Charlie    76
David      94
Eve        82
Frank      90
Grace      85
Hannah     89
Ivy        78
Jack       91
Name: Exam Scores, dtype: int64

In [4]:
# 2: Suppose you want to track and analyze your household expenses for a month.
# You have recorded the expenses for various categories, such as groceries, utilities,
# rent, transportation, and entertainment. You can represent this expense data using a 
# Pandas Series.

import pandas as pd 

categories = ['Groceries', 'Utilities', 'Rent', 'Transportation', 'Entertainment']
expenses = [500, 200, 1200, 300, 150]

series = pd.Series(expenses ,index=categories , name = "Monthly Expenses (USD)")
print(series)

Groceries          500
Utilities          200
Rent              1200
Transportation     300
Entertainment      150
Name: Monthly Expenses (USD), dtype: int64

In [14]:
# 3: Suppose you want to track and analyze the monthly energy consumption in your
# home. You have recorded the monthly energy usage for electricity and gas over a 
# year, and you want to represent this data using Pandas Series.

import pandas as pd 

months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August',
'September', 'October', 'November', 'December']
electricity_usage = [350, 320, 310, 330, 340, 370, 380, 360, 350, 330, 320, 330]
gas_usage = [20, 18, 16, 15, 12, 10, 8, 9, 12, 15, 17, 19]

print("Electricity Usage : ")
series = pd.Series(electricity_usage , index=months , name = "Electricity Usage (kWH)")
print(series)

print("\nGas Usage : ")
series1 = pd.Series(gas_usage , index=months , name = "Gas Usage (therms)")
print(series1)

Electricity Usage :
January      350
February     320
March        310
April        330
May          340
June         370
July         380
August       360
September    350
October      330
November     320
December     330
Name: Electricity Usage (kWH), dtype: int64

Gas Usage :
January      20
February     18
March        16
April        15
May          12
June         10
July          8
August        9
September    12
October      15
November     17
December     19
Name: Gas Usage (therms), dtype: int64

In [15]:
# 4:Suppose you are managing a website and want to analyze the monthly revenue
# generated from advertising. You have recorded the monthly revenue for the past 
# year, and you want to represent this data using a Pandas Series.

import pandas as pd 

months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August',
'September', 'October', 'November', 'December']
revenue = [5000, 5200, 4800, 5400, 5600, 5800, 6100, 5900, 6200, 6500, 7000, 6900]

series = pd.Series(revenue , index=months , name="Monthly Advertising Revenue (USD)")
print(series)

January      5000
February     5200
March        4800
April        5400
May          5600
June         5800
July         6100
August       5900
September    6200
October      6500
November     7000
December     6900
Name: Monthly Advertising Revenue (USD), dtype: int64

In [17]:
# 1: Write a Pandas program to create a dataframe from a dictionary and
# display it.

import pandas as pd

score={'Math':[78,85,96,80,86], 'English':[84,94,89,83,86],'Hindi':[86,97,96,72,83]}

data = pd.DataFrame(score)
print(data)

   Math  English  Hindi
0    78       84     86
1    85       94     97
2    96       89     96
3    80       83     72
4    86       86     83

In [22]:
# 2: Write a Pandas program to create and display a DataFrame from a
# specified dictionary data which has the index labels.Sample Python 
# dictionary data and list labels:

import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
data = pd.DataFrame(exam_data, index=labels)
print(data)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [28]:
# 3: Write a Pandas program to get the first 3 rows of a given DataFrame.
# Sample DataFrame:

import pandas as pd 
import numpy as np 

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily',
'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

data = pd.DataFrame(exam_data)
print("\nFirst Three Rows Of The Dataframe :")
first_three_rows = data.head(3)
print(first_three_rows)

First Three Rows Of The Dataframe :
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes

In [30]:
# Lab4: Write a Pandas program to select the 'name' and 'score' columns
# from the following DataFrame.

import pandas as pd 
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily',
'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

data = pd.DataFrame(exam_data)
print("Original Dataframe : ")
print(data)

print("\nSelect Specific Columns : ")
df = data[['name' , 'score']]
print(df)

Original Dataframe :
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

Select Specific Columns :
        name  score
0  Anastasia   12.5
1       Dima    9.0
2  Katherine   16.5
3      James    NaN
4      Emily    9.0
5    Michael   20.0
6    Matthew   14.5
7      Laura    NaN
8      Kevin    8.0
9      Jonas   19.0